{% extends "base.html" %}

{% block title %} Questionaire {% endblock %}

{% block content %} 
    <h3>{{ data['question'] }}</h3>
    <form action='/answer' method="POST">
        {% for choice in data['choices'] %}
        <label for={{choice}}>{{ choice }}</label>
        <input required type="radio" name="answer" id={{choice}} value={{choice}}>
        {% endfor %}
        <button class="btn btn-form">Next Question</button>
    </form>
{% endblock %}
{% block footer %}
<div>{{ curr_page }} / {{ out_of }}</div>
<script src="/static/js/parsechoices.js"></script>
{% endblock %}